@font-face {
  font-family: 'RopaSans';
  src: url('../../fonts/RopaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RopaSans Italic';
  src: url('../../fonts/RopaSans-Regular.ttf') format('truetype');
}